@import url('https://fonts.googleapis.com/css?family=Orbitron');

.google,
.facebook,
.forty-two {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  /*border: 5px solid #D8E2DC;*/
  float: left;
  transition: all 0.5s ease;
  background-color: transparent;
  border: none;
  color: #4717F6;
}

.forty-two-color {
  color: #4717F6;
  font-family: 'Orbitron', sans-serif;
}

.forty-two-active:hover {
  transition: all 0.5s ease;
  color: #59bfa9;
}

.google:hover {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
  color: #dd4b39;
}
.forty-two:hover {
  border: 5px solid #59bfa9;
  box-shadow: 0 0 15px #59bfa9;
  transition: all 0.5s ease;
  color: #59bfa9;
}
.facebook:hover {
  border: 5px solid #3b5998 ;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
  color: #3b5998;
}

.wrapper {
  width: auto;
}

.oauth-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  /*border: 5px solid #D8E2DC;*/
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px
to align it properly */
.wrapper ul li .fa {
  color: #4717F6;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
/*
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998 ;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook-f {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}
*/
/*twitter*/
/*
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

*/

/* google */
.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google-plus-g {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}


/* media queries */

@media screen and (max-width: 640px){
  .wrapper {
      width: 290px;
  }
  /*
  .wrapper ul li{
      margin-top: 10px;
  }
  .wrapper ul li.google{
      margin-left: 60px;
  }
  */
}

@media screen and (max-width: 340px){
  /*.wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }*/
  .wrapper ul li.google{
      margin-left: 15px;
  }
}
