.comment-button-float {
  width: 200px;
  margin: auto;
}

.user-rating-color {
  color: #FFD700;
}

.comment-rating-position {
  position: absolute;
  width: 42px;
  height: 46px;
  overflow: hidden;
  left: 30px;
  bottom: -20px;
  display: inline-block;
  vertical-align: middle;
}
.comment-form-flex {
  display: flex;
    flex-direction: column;
}
.comments-text-style {
  word-wrap: break-word;
}
.comment-collection-margin {
  margin: 0 10px;
}
.comment-like-positon {
  float: right;
}
.like-position {
  float: right;
}

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
