.genre-search {

}

label.active {
	color: white !important;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
	background-color: #4717F6;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
	background-color: #4717F6;
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
    border: 2px solid white;
}


[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #4717F6;
}
