doctype html
html
    head
        meta(http-equiv='cache-control', content='no-cache')
        meta(http-equiv='expires', content='0')
        meta(http-equiv='pragma', content='no-cache')
        link(href='//vjs.zencdn.net/4.12/video-js.css', rel='stylesheet')
        script(src='//vjs.zencdn.net/4.12/video.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.10.1/videojs-contrib-hls.min.js')
    body
        .container
            h1.header= 'movie'

            video#my-player.video-js.vjs-default-skin(controls='', width='1280', height='720')
                source(src= moviePath, type='video/mp4', data-res='720')
